<h2>Ticket</h2>

<div class="divTicket">
    <h3>Compra exitosa</h3>
    <p>Código: {{ticket.code}}</p>
    <p>Total: ${{ticket.amount}}</p>
    <p>Comprador: {{ticket.purchaser}}</p>
    <p>Fecha: {{ticket.purchase_datetime}}</p>
</div>